<div style="display: flex; justify-content: center;">
    <mat-card style="width: 400px; text-align: center; margin-top: 50px;">
        <mat-card-title>
            Login
        </mat-card-title>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field appearance="outline" style="width: 400px;">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Enter username" formControlName="username" type="text" required>
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>
                <br />
                <mat-form-field appearance="outline" style="width: 400px;">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Enter password" formControlName="password" type="password" required>
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <div class="button-flex-container">
                    <button style="width: 200px;" mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
                </div>
            </mat-card-actions>
        </form>
    </mat-card>
</div>