.register-form-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }
  
  .button-flex-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }