<mat-toolbar color="primary" class="app-header">
  <mat-icon>book</mat-icon>
  <span> BlogSpace</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <span>User</span>
  <mat-menu #menu="matMenu">
    <div *ngIf="!logged">
      <button mat-menu-item [routerLink]="['/login']">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item [routerLink]="['/register']">
        <mat-icon>how_to_reg</mat-icon>
        <span>Sign Up</span>
      </button>
    </div>
    <div *ngIf="logged">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </div>
  </mat-menu>

</mat-toolbar>