<mat-tab-group mat-align-tabs="start">
    <mat-tab label="My Feed" *ngIf="loggedIn">Content 1</mat-tab>
    <mat-tab label="Global">

        <div *ngFor="let item of collection | paginate: {itemsPerPage: 10, currentPage: p }">
            <mat-card>
                <mat-card-title>{{item.title}}</mat-card-title>
                <mat-card-content>
                  <p>
                    {{item.body}}
                  </p>
                </mat-card-content>
              </mat-card>
            <br>
        </div>
        <pagination-controls (pageChange)="p = $event" style="text-align: center;"></pagination-controls>

    </mat-tab>
</mat-tab-group>